@{
    ViewData["Title"] = "About Us";
}

<script src="~/js/site.js" asp-append-version="true"></script>

<h2 class="aboutUsHeading2">.</h2>
<h2 class="aboutUsHeading2">`</h2>
<h2 class="aboutUsHeading2">Let's know</h2>
<br>
<h2 class="aboutUsHeading3">Our philosophy: innovate,</h2>
<h2 class="aboutUsHeading3">design and create.</h2>

<br>

<div class="rectangleAboutPage"></div>
<!--lines in between-->
<br>

<p class="aboutUsParagraph">
    Innovate, design and create is our main philosophy,
    we believe in unique innovation, meticulous design and
    environment-friendly creations.
</p>
<br>

<h2 class="aboutUsHeading4">Our story</h2>

<p class="aboutUsParagraph">
    It all began when I was working part-time, in my final year of University, at
    a craft store in Johannesburg. I thought to myself, 'Why not have this globally?'
    I knew there were not many craft stores globally that sold handmade eco-friendly
    craft items. So, the idea of KhumaloCraft was born. I left my part-time job to
    commit my time and effort into this business. There were a lot of challenges I
    faced, but the business ended up flourishing. Currently, KhumaloCraft has over
    200 team members, reviewing and managing the craftwork that you can view or
    purchase, and over 10 thousand talented artisans from all over the world
    showcasing and selling their craftwork on KhumaloCraft. Connecting talented
    with customers who want to make a change has been and always will be my
    mission.
</p>

<img src="~/Images/AboutUsHandshot.jpg" alt="close up picture of a lady doing craftwork" class="aboutUsHandshotPic-style" />

<div class="aboutContactContainer">
    <img src="~/Images/AboutContactGIF.gif" alt="a GIF with a contact us prompt" class="aboutUsContactGIF-style" />
     <button class="aboutContactButton1" onclick="redirectToContactPage()">Contact Us</button>
</div>

<br>
<br>
<br>
<br>
<br>
<br>


<h2 class="aboutUsHeading5">Meet the <span class="highlight-word2">team</span></h2>

<p class="aboutUsParagraph2">
    Driven by our love for hand-made crafts, we're the amiable team on a mission
    to spread joy and serenity through our services, all while having a blast along the way.
</p>

<!--excuse the enormous amount of br lines here. Needed to add the extra space between my team pictures and the text above-->
<br>
<br>
<br>
<br>
<br>
<br>


<!--About us Team member box's-->
<body>
    <div class="grid">
        <div class="aboutTeam">
            <div class="card-img">
                <img src="~/Images/1.jpg">
            </div>
            <div class="card-box box-1 top-left">
                <h3 class="aboutTeamText">James Khumalo</h3>
                <p class="aboutTeamParagraph">Founder & CEO</p>
            </div>
            <div class="card-box box-4 bottom-right">
                <h3 class="aboutTeamText">Fun fact</h3>
                <p class="aboutTeamParagraph">When I'm not running a business, I'm usually skiing</p>
            </div>
        </div>

        <div class="aboutTeam">
            <div class="card-img">
                <img src="~/Images/2.jpg">
            </div>
            <div class="card-box box-3 bottom-left">
                <h3 class="aboutTeamText">Lara Pérez</h3>
                <p class="aboutTeamParagraph">Senior Software Developer</p>
            </div>
            <div class="card-box box-4 bottom-right">
                <h3 class="aboutTeamText">Fun fact</h3>
                <p class="aboutTeamParagraph">I'm a coder by day and an electric guitarist by night.</p>
            </div>
        </div>

        <div class="aboutTeam">
            <div class="card-img">
                <img src="~/Images/3.jpg">
            </div>
            <div class="card-box box-3 bottom-left">
                <h3 class="aboutTeamText">Michelle</h3>
                <p class="aboutTeamParagraph">Head of marketing</p>
            </div>
            <div class="card-box box-2 top-right">
                <h3 class="aboutTeamText">Fun fact</h3>
                <p class="aboutTeamParagraph">I enjoy reading and marvel movies.</p>
            </div>
        </div>
    </div>
</body>

<br>
<br>
<br>
<br>