@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>Privacy Policy</h1>

<br />

<p class="privacyPolicy-style">
    At KhumaloCraft, we are committed to protecting your privacy. This Privacy Policy outlines how we collect, use, disclose, and safeguard your personal information when you visit our website www.KhumaloCraft.com or engage with our services.
    Please read this Privacy Policy carefully. By accessing or using our Site or services, you agree to be bound by the terms and conditions described herein.
    Information We Collect

    We may collect personal information from you when you interact with our Site or services. This information may include:

    1. Personal information such as your name, email address, postal address, and phone number.
    2. Payment information necessary to process transactions.
    3. Information you provide when you communicate with us, including through customer support inquiries.
    4. How We Use Your Information

    We may use the information we collect from you for various purposes, including but not limited to:

    1. Providing, maintaining, and improving our products and services.
    2. Processing transactions and fulfilling orders.
    3. Communicating with you about your account or transactions.
    4. Responding to your inquiries and providing customer support.
    5. Sending you promotional and marketing communications.
    6. Detecting and preventing fraud and unauthorized access to our services.
</p>
