@model MVCKhumaloCraftFinal4.Models.User

@{
    ViewData["Title"] = "Create";
    ViewData["IsRegisterPage"] = true;
}

<style>
    body {
        background: url(../Images/LoginBackground.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        margin: 0; /* Remove default body margin */
        padding: 0; /* Remove default body padding */
    }

    .registerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
    }

    .wrapperRegister {
        width: 420px;
        background: transparent;
        border: none;
        color: #FAF2F2;
        border-radius: 12px;
        padding: 30px 40px;
    }

        .wrapperRegister registerHeading1 {
            font-size: 36px;
            text-align: center;
        }

        .wrapperRegister .input-box {
            position: relative;
            width: 100%;
            height: 50px;
            margin: 30px 0;
        }


        .wrapperRegister .remember-forgot {
            display: flex;
            justify-content: space-between;
            font-size: 14.5px;
            margin: -15px 0 15px;
        }

        .wrapperRegister .loginButton1 {
            width: 100%;
            height: 45px;
            background: #FAF2F2;
            border: none;
            outline: none;
            border-radius: 40px;
            box-shadow: 0 0 10px rgba(0,0,0, .1);
            cursor: pointer;
            font-family: 'League Spartan', sans-serif;
            font-size: 20px;
            font-weight: 450;
        }

        .wrapperRegister .register-link {
            font-size: 14px;
            text-align: center;
            margin: 20px 0 15px;
        }

    .login-link p a {
        color: #FAF2F2;
        text-decoration: none;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        font-weight: 600;
    }

        .login-link p a:hover {
            text-decoration: underline;
        }


    .registerHeading1 {
        font-family: 'League Spartan', sans-serif;
        background-color: transparent;
        color: #FAF2F2;
    }

    .registerParagraph1 {
        text-align: center;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        background-color: transparent;
        color: #FAF2F2;
    }

    .wrapperRegister .registerButton1 {
        width: 100%;
        height: 45px;
        background: #FAF2F2;
        border: none;
        outline: none;
        border-radius: 40px;
        box-shadow: 0 0 10px rgba(0,0,0, .1);
        cursor: pointer;
        font-family: 'League Spartan', sans-serif;
        font-size: 20px;
        font-weight: 450;
    }
</style>

<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>

<div class="registerContainer">
    <div class="wrapperRegister">
        <form asp-action="Create" method="post">
            <h1 class="registerHeading1">Register</h1>
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="input-box">
                <input asp-for="Name" placeholder="Name" required />
                <i class='bx bxs-user'></i>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Surname" placeholder="Surname" required />
                <i class='bx bxs-user'></i>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Password" type="password" placeholder="Password" required />
                <i class='bx bxs-lock-alt'></i>
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="input-box">
                <input asp-for="Email" placeholder="Email" required />
                <i class='bx bxs-user'></i>
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="remember-forgot">
                <label>
                    <input type="checkbox" asp-for="Enable2FA"> Enable 2 Factor Authentication
                </label>
                <a href="#">Forgot password</a>
            </div>
            <button type="submit" class="registerButton1">Register</button>
            <div class="login-link">
                <p class="registerParagraph1">Already have an account? <a href="@Url.Action("Login", "Users")">Login</a></p>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
